@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent-color: #427bd1;
}

.selected {
    color: var(--accent-color);
}


.article-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 6px;
    background: var(--accent-color);
    border-radius: 3px;
  }

  